
@{
    ViewBag.Title = "Demo";
}

<h2>Demo</h2>
<html><head><title>demo</title></head><body>
<div>
    <select>
        <option value="" selected hidden>Select product</option>
        <option></option>
    </select>



</div>
    </body>
</html>

